# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
saves
config
logs
options.txt
usercache.json
usernamecache.json
imgui.ini

# Files from Forge MDK
forge*changelog.txt
